
.mainnav-left {
    float: left;
    text-align: left;
    font-family: 'Courier New', Courier;
}

.mainnav-left h4 {
    color: #ffffff;
    text-indent: 10px;
    float: left;
    text-align: left;
}

.mainnav {
    padding: 2px;
    margin: 10px
    float: right;
    background-color: #3e4b40;
    overflow: hidden;
    text-align: right;
    }

.mainnav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.mainnav a:hover {
    color: #16251c;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.mainnav button {
    background-color: #ffffff;
    color: #16251c;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.mainnav button:hover {
    background-color: #3e4b40;
    color: #ffffff;
    border-radius: 20px;
}

.hero-image img {
    background-position: center;
    position: relative;
    height: 300px;
    width: 100%;
}

.hero-text h1 { 
    text-align: left;
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 150px;
    font-style:italic;
    font-family: 'Courier New', Courier,;
    color: #422418;
}

.hero-text h2 {
    text-align: left;
    position: absolute;
    top: 33%;
    left: 3%;
    font-size: 40px;
    font-style:italic;
    font-family: 'Courier New', Courier,;
    color: #b28060c5;
}


body {
    background-color: #FFF3ED;
}